<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
<div class = "task">
    <table class="table"><thead>
    <tr>
    <td>id</td>
    <td>title</td>
    <td>description</td>
    <td>status</td>
    <td>updated</td>
    <td>delete</td>
    </tr>
<tbody id="tbody">
{{#each tasks}}
     <tr><td>{{this.id}}</td><td>{{this.title}}</td><td>{{this.description}}</td><td>{{this.status}}</td><td>{{this.updated}}</td><td><a href="/tasks/delete/{{this.id}}">delete</a></td></tr>
{{/each}}
</tbody>
    </thead></table>


</div>
</div>

</script>
</body>